version: 1.0.{build}

environment:
  nodejs_version: "12.14.1"

  NETLIFY_SITE_ID:
    secure: /ocv/IlItxE1iIiSzbF5Z3Fr751wFCm5H8sBUaHPcAVDmwksYxeYwtCASuWnPQoh

  NETLIFY_AUTH_TOKEN:
    secure: Z0ebmrbMv4UoWG+jb/iqm1rNXYjkfdLtKpPn1SnYbJVMHpi7f4e9V7Jv4crlbHZ1Le4JKEQT/wOY8Q87rNm9WNmOJ/iiC/T+bOClY4ikGRY=

install:
  - ps: Install-Product node $env:nodejs_version

  # install angular/@cli
  - npm install @angular/cli -g

  # install modules
  - npm install

  # install typescript 3.6.5
  - npm install typescript@3.6.5 --save-dev

build_script:
  - ng build --prod

after_build:
  # install netlify
  - IF %APPVEYOR_REPO_BRANCH% EQU master npm i netlify-cli -g
  - IF %APPVEYOR_REPO_BRANCH% EQU master set NETLIFY_SITE_ID=%NETLIFY_SITE_ID%
  - IF %APPVEYOR_REPO_BRANCH% EQU master set NETLIFY_AUTH_TOKEN=%NETLIFY_AUTH_TOKEN%
  - IF %APPVEYOR_REPO_BRANCH% EQU master netlify deploy --prod --dir=./dist
