@import '~startbootstrap-sb-admin-2/scss/_variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/variables';

:host {

  .title {
    position: fixed;
    top: 0;
    right: 0;
    left: #{$sidebar-base-width};
    z-index: 1;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;

    &[sidebar-collapsed='true'] {
      left: #{$sidebar-collapsed-width};
    }
  }

  .contents {
    padding-top: calc(#{map-get($display-font-sizes, 1)});
    padding-left: #{$sidebar-base-width};
    min-height: 100%;

    &[sidebar-collapsed='true'] {
      padding-left: #{$sidebar-collapsed-width};
    }
  }
}

.card.example {
  height: 250px;

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
