<div class="content"
     *ngIf="component"
     [attr.sidebar-collapsed]="collapse">

  <div class="title px-2 pt-2 mb-4"
       *ngIf="component.title">
    <h1 class="fw-bold">{{component.title}}</h1>
  </div>

  <div class="px-4 mb-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/component']"
           [routerLinkActive]="'active'"
           [routerLinkActiveOptions]="{exact: true}">
          {{'COMPONENT_PAGE.APIS' | translate}}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/component/examples']"
           [routerLinkActive]="'active'">
          {{'COMPONENT_PAGE.EXAMPLES' | translate}}
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>

</div>
