@import '~startbootstrap-sb-admin-2/scss/_variables.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/variables';

:host {
  width: 100%;
  height: 100%;
  display: block;
}

:host .content {
  height: 100%;
  padding-left: #{$sidebar-base-width};
  min-height: 100%;

  &[sidebar-collapsed='true'] {
    padding-left: #{$sidebar-collapsed-width};
  }
}
